.main__about{
    display: flex;
    padding: 100px 0 100px 0;
}
.about__right{
    margin-right: 30px;
    text-align: center;
    margin-left: 250px;
}
.about__right h1{
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom: 20px;
}
.about__right p{
    margin: 30px 0 50px 0;
    color: #6c6c6c;
}
.about__right li{
    padding-left: 25px;
    margin-top: 10px;
}
.main__welcome{
    padding: 50px 0 50px 0;
}
.main__welcome p{
    font-size: 14px;
}
.main__welcome h1{
    font-size: 25px;
}
.mw-100{
    max-width: 100%;
}
.wrapper{
    background-color: white;
    width: 100%;
    margin: 0 auto;
}

.about__left{
    min-width: 500px;
}
.about__right{
    max-width: 40%;
}


@media screen and (max-width: 1700px) {
    nav{
        margin-left: 20%;
    }
    .main__about{
        flex-direction:  column;
    }
    .about__right{
        text-align:  center;
        margin-left: 0;
    }
    .about__right{
        max-width: 100%;
    }
    .about__right p{
        margin-left: 20px;
    }
    .about__right li{
        text-align: left;
        margin-left: -20px;
    }
    .mw-100{
        max-width: 100%;
    }
    .about__left{
        margin-right: 20%;
        padding-bottom: 10%;
    }
    .about__right button{
        margin-left: 20px;
    }
}


@media screen and (max-width: 900px) {
    .about__right{
        text-align:  center;
        margin-left: 0;
    }

    .about__right button{
        width: 500px;
    }
}










